body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.content {
    padding-left: 15px;
    padding-right: 15px;
}
/*div{border:1px solid #ddd;}*/
 