
/* #region BASE STYLES */
body {
}

.logo-au{
    width:44px;
    height:44px;
    margin-left:3px;
    margin-top:5px;
}

/* #endregion */

/* #region ANIMATION */

/* #endregion */

/* #region VALIDATION */

/* #endregion */

