@{
    Layout = "~/wwwroot/apps/common/Layout.cshtml";
    ViewData["Title"] = "Ana Sayfa - Ankara üniversitesi - Üniversite Bilgi Sistemi";
}
<h1>robonom</h1>
Bu dosya kullanici tarafindan edit edilebilecek bir dosya
burda sitenin tasarmimi yapilacak, 

bu dosya alt tamplate leri yukleyebilecek
bu dosyalara layout(sablon) dersek, altindaki yukledigi diger dosyalara da template diyebiliriz

@await Component.InvokeAsync("Module1", "~/wwwroot/apps/module1/Index.cshtml?param1=1&param2=2")

<hr>

@await Component.InvokeAsync("Module1", "~/wwwroot/apps/module1/Index.cshtml?param1=1&param2=2")