
@using System.ComponentModel
@using Robonom.Web.Core
@using Robonom.Web.Core.Apps
@using Robonom.Web.Core.Apps.Common
@using Microsoft.AspNetCore.Mvc.ViewComponents
@using System.Threading.Tasks
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model dynamic
<!DOCTYPE html>
<html data-ng-app="App">
<head id="header">
@await Component.InvokeAsync("RbHeader", new { url = "/data/rb-header/generalheader.html" })  
    <script type="text/javascript">
        var settings = {
            Name: "@Current.AppName",
            AssetsUrl: "@Current.AssetsUrl",
            DefaultLanguage: "@Current.DefaultLanguage"
        };
    </script>
    <title>@ViewData["Title"]</title>
</head>
<body id="body" ng-controller="LayoutController">
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="container body-content">
        <div ui-view class="fade-in-up" id="ui-view">

            <h1>Robonom V1</h1>
            Bu dosya kullanici tarafindan edit edilebilecek bir dosya
            burda sitenin tasarmimi yapilacak,

            bu dosya alt template leri yukleyebilecek
            bu dosyalara theme dersek, altindaki yukledigi diger dosyalara da template diyebiliriz

       
            @await Component.InvokeAsync("RbEditor")

            <hr>
          
            @await Component.InvokeAsync("Module1", new { url = "/wwwroot/apps/module1/Index.cshtml?param1=1&param2=2" })

            <hr>

      
            @await Component.InvokeAsync("Module2", new { url = "/wwwroot/apps/module2/Index.cshtml?param1=1&param2=2" })

            <hr>

            @await Html.PartialAsync("/wwwroot/data/rb-themes/filehoo/includes/footer.cshtml")
         

        </div>
    </div>
</body>
</html>


 


